.header {
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.header-link {
    padding: 12px;
    text-decoration: none;
}


.header-link:hover .link-text {
    color: white;
}

.header-link:hover {
    background-color: black;
}

.header-link:visited {
    margin: 0 12px;
    color: black;
}

.link-text {
    display: inline;
    font-size: 24px;
}

.header-r {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    margin-right: 4px;
}

.header-r>div>div>div>div {
    background-color: black;
    color: white;
}

.header-r>div>div>div>div>div>div {
    display: none;
}