.header {
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.header-link {
    padding: 12px;
    text-decoration: none;
}


.header-link:hover .link-text {
    color: white;
}

.header-link:hover {
    background-color: black;
}

a {
    color: black;
}

.header-link:visited {
    margin: 0 12px;
    color: black;
}

.link-text {
    display: inline;
    font-size: 24px;
}

.header-r {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    margin-right: 4px;
}

.header-r>div>div>div>div {
    background-color: black;
    color: white;
}

.header-r>div>div>div>div>div>div {
    display: none;
}

@media screen and (max-width: 650px) {
    .header {
        height: 30px;
    }

    .header-link {
        padding: 4px;
    }

    .link-text {
        font-size: 18px;
        text-decoration: underline;
    }

    .header-r {
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: end;
        z-index: 100;
    }

    .header-r>div>div>div>div {
        background-color: black;
        color: white;
        margin: 0;
        padding: 0 4px;
        ;
    }

    .header-r>div>div>div>div>div {
        background-color: black;
        color: white;
        font-size: small;
    }

    .header-r>div>div>div>div>span {
        color: white;
        font-size: small;
    }
}