.you-sure {
    position: fixed;
    height: 20vh;
    width: 75vw;
    margin: 0 auto;
    top: 30%;
    background-color: white;
    border: 3px solid black;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.you-sure-btns {
    display: flex;
    justify-content: center;
}

.you-sure-text {
    text-align: center;
}

.you-sure-btn {
    margin-right: 20px;
}

@media screen and (max-width: 650px) {
    .you-sure {
        height: 50vh;
        width: 85vw;
        justify-content: space-around;
    }
}