.title {
    font-size: 64;
}

.welcome-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-info {
    display: flex;
    /* border: 1px solid black; */
    width: 50vw;

}

.home-info-l {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    /* width: 50%; */
    padding: 12px;
    text-align: center;
}

.home-top-text {
    font-size: larger;
    text-align: center;
    padding: 8px;
}

/* .home-info-r {
    display: flex;
    border: 1px solid black;
    width: 50%;
    flex-direction: column;
    padding: 12px;



} */

.home-info-r>p {
    margin: 4px;
}

#mech-forest {
    font-size: 28px;
    text-decoration: underline;
    font-weight: bolder;
}

/* 
.home-info-l-top {
    display: flex;
    border: 1px solid black;
    height: 50%;
} */

/* 
.home-info-l-bottom {
    height: 50%;
    display: flex;
    border: 1px solid black;
} */

@media screen and (max-width: 650px) {
    .home-info {
        width: 90vw;
    }

    .home-top-text {
        margin-top: 24px;
    }

}