.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

button {
    font-size: larger;
    color: black;
    background-color: white;
    padding: 12px;
}

button:hover {
    color: white;
    background-color: black;
}

.loading {
    text-align: center;
}